.technology-body{
    background-image: url(../../images/technology-page-desktop-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.site-header{
    padding: 40px 0 100px 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-logo-link{
    margin-left: 55px;
    display: inline-block;
}

.navbar{
    display: flex;
    align-items: center;
}

// .navbar-line{
//     width: 150px;
//     display: inline-block;
//     position: absolute;
//     left: 350px;
//     z-index: 2;
// }

.navbar-list{
    padding: 39px 167px 39px 123px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}

.navbar-item + .navbar-item{
    margin-left: 52px;
}

.navbar-link-span{
    margin-right: 14px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}

.navbar-link{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
// site header styles end 


// site main styles start 
.hero-section{
    margin-left: 166px;
    overflow: hidden;
}

.hero-title-span{
    margin-right: 24px;
    opacity: 0.25;
}

.hero-title{
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content-list{
    width: 80px;
    flex-direction: column;
}

.hero-content-item{
    width: 80px;
    height: 80px;
    padding: 22px 0;
    margin-bottom: 32px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    color: #0B0D17;
    text-align: center;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.hero-context-wrapper{
    width: 470px;
    margin-left: 50px;
}

.hero-content-span{
    margin-bottom: 11px;
    color: #D0D6F9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.hero-content-title{
    margin-bottom: 17px;
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-content-wrapper{
    width: 444px;
}

.hero-content-text{
    color: #D0D6F9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}